@import '../../responsive.scss';

nav {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;

  a {
    transition: all 0.4s ease;

    @include mobile {
      display: none;
    }

    &:hover {
      scale: 1.1;
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;

    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      gap: 10px;
      align-items: center;

      img {
        width: 28px;
      }

      span {
        @include tablet {
          display: none;
        }

        @include mobile {
          display: initial;
        }
      }
    }
  }
  .right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #fcf5f3;
    height: 100%;

    @include tablet {
      background-color: transparent;
    }

    a {
      padding: 12px 24px;
      margin: 20px;
    }

    .signUp {
      background: yellowgreen;
    }

    .menuIcon {
      display: none;
      z-index: 90;

      img {
        width: 36px;
        cursor: pointer;
      }

      @include mobile {
        display: inline;
      }
    }

    .menu {
      position: absolute;
      top: 0;
      right: -50%;
      background: black;
      color: white;
      height: 100vh;
      width: 50%;
      transition: all 1s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 24px;

      &.active {
        right: 0;
      }

      @include mobile {
        a {
          display: initial;
        }
      }
    }
  }
}
